@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.navbar .end {
  text-align: end;
}

.navbar .font {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.tel-raqam {
  color: blue;
}

.button {
  all: unset;
  padding: 10px 55px;
  border: 1px solid blue;
  border-radius: 7px;
  background-color: transparent;
}
.button:hover {
  /* background-color: ; */
  border: 1px solid chocolate;
  border-radius: 10px;
  transition: .6s;
}
.domstroy {
  color: blue;
}

.buttonn5 {
  text-decoration: none;
  color: white;
}
.buttonn {
  text-decoration: none;
  color: blue;
  border-radius: 10px;
}

.youtube, .instagram {
  color: red;
}

.telegram {
  color: blue;
}

.whatsapp {
  color: green;
}

.mobile {
  color: #082525;
}

.kok {
  color: blue;
}

.СТРОИТЕЛЬНАЯ {
  font-size: 14px;
  margin-bottom: 2 px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  padding: 30px 80px;
  background-color: #15193D;
  display: flex;
  justify-content: space-between;
}

.header2 {
  width: 100%;
  padding: 30px 80px;
  background-color: #8C93D1;
  display: flex;
  justify-content: space-between;
}

header ul {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
}

#check {
  display: none;
}

.close-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.474);
  z-index: -1;
}

.open {
  display: none;
  cursor: pointer;
  color: #fff;
}

.close-btn {
  display: none;
  cursor: pointer;
}

.close-btn {
  color: white;
  font-size: 20px;
}

header ul li a {
  font-size: 20px;
  color: #fff;
}

ul {
  width: 93%;
  margin: auto;
}

.chap .chap1 {
  width: 90%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.chap .chap2 {
  width: 90%;
  margin: auto;
  font-size: 40px;
  font-family: sans-serif;
}

.chap .chap3 {
  width: 90%;
  margin: auto;
  font-family: sans-serif;
  margin-top: 20px;
  color: #202020;
}

.tabiat .tabiat1 h1 {
  text-align: center;
  background-size: cover;
  background-image: url(./img/Rectangle\ 29.png);
  width: 90%;
  margin: auto;
  height: 285px;
  margin-top: 50px;
  padding-top: 120px;
  font-family: sans-serif;
  border-radius: 10px;
  margin-bottom: 20px;
  color: #fff;
}
.tabiat .bani {
  background-image: url(./img/Rectangle\ 43.png);
  width: 47%;
  border-radius: 10px;
  background-size: cover;
  margin: auto;
  height: 300px;
}
.basedki {
  background-image: url(./img/Rectangle\ 24.png);
  width: 47%;
  border-radius: 10px;
  background-size: cover;
  margin: auto;
  height: 300px;
}
.tabiat .bani2 {
  background-image: url(./img/Rectangle\ 39.png);
  width: 47%;
  border-radius: 10px;
  background-size: cover;
  margin: auto;
  height: 300px;
  margin-top: 20px;
  margin-bottom: 50px;
}
.basedki2 {
  background-image: url(./img/Rectangle\ 41.png);
  width: 47%;
  border-radius: 10px;
  background-size: cover;
  margin: auto;
  height: 300px;
  margin-top: 20px;
  margin-bottom: 50px;
}
.ikkita-rasm {
  display: flex;
  width: 93%;
  margin: auto;
}
.ikkita-rasm h1 {
  text-align: center;
  padding-top: 120px;
  font-family: sans-serif;
  color: #fff;
}
.uzun-soz {
  width: 90%;
  margin: auto;
  color: #333333;
  margin-bottom: 50px;
}
.xotite1 {
  background-image: url(./img/Rectangle\ 640.png);
  background-size: cover;
  width: 100%;
}
.xotite {
  /* width: 90%;
  margin: auto; */
  text-align: center;
  width: 90%;
  margin: auto;
  justify-content: space-evenly;
  padding-top: 120px;
  padding-bottom: 120px;
  font-family: sans-serif;
  margin-bottom: 50px;
}
.РАССЧИТАТЬ {
  all: unset;
  background-color: lightblue;
  border: 1px solid chocolate;
  border-radius: 10px;
  padding: 20px 60px;
}
.РАССЧИТАТЬ:hover {
  background-color: transparent;
  border: 1px solid chocolate;
  transition: .6s;
  color: #fff;
}
.РАССЧИТАТЬ1 {
  color: #000;
}
.xotite {
  display: flex;
}

.navbar9 {
  display: flex;
  justify-content: space-evenly;
  /* margin-top: 20px; */
}

.navbar9 .end {
  text-align: end;
}

.navbar9 .font {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
.hedr {
  background-color:#22242E;
  width: 100%;
  height: auto;
  padding: 100px 0px;
  color: #fff;
  margin-top: -50px;
}
.textt {
  width: 100%;
  margin: auto;
  height: 1px;
}
.hr {
  width: 95%;
  margin: auto;
  margin-top: 20px;
}
.footer-oxiri {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
}
.oxirgi-button {
  all: unset;
  background-color: #22242E;
  color: aliceblue;
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px 50px;
  border-radius: 10px;
}
.footer-button {
  color: #000;
}
.zakaz:hover {
  color: chocolate;
  transition: .6s;
}
.qwerty {
  margin-bottom: 10px;
  color: chocolate;
}
.oxirgi-button:hover {
  /* background-color: lightblue; */
  border: 1px solid chocolate;
  border-radius: 10px;
  transition: .3s;
}
.futer-link:hover {
  color: gray;
  transition: .2s;
}

@media (max-width: 1370px) {
  .ПОЛЕЗНО {
    display: none;
  }
}

@media (max-width: 1300px) {
  .КОМПЛЕКТАЦИЯ {
    display: none;
  }
}


@media (max-width: 1120px) {
  .open {
    display: block;
  }
  header ul {
    position: fixed;
    top: 0;
    right: -100vw;
    bottom: 0;
    width: 60vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    transition: 1s ease-in-out;
  }
  #check:checked ~ ul {
    right: 0;
  }
  #check:checked ~ .open {
    display: none;
  }
  #check:checked ~ .close-btn {
    display: block;
  }
  .xotite {
    flex-direction: column;
    gap: 30px;
  }
}

@media (max-width: 1100px) {
  .end {
    display: none;
  }
  .tel {
    display: none;
  }
  .header2 {
    display: none;
  }
}

@media (max-width: 1050px) {
  .footer-oxiri {
    flex-direction: column;
    gap: 50px;
    text-align: center;
  }
  .ПОЛЕЗНО {
    display: block;
  }
  .КОМПЛЕКТАЦИЯ {
    display: block;
  }
}
@media (max-width: 720px) {
  .ikkita-rasm {
    flex-direction: column;
    gap: 30px;
  }
  .basedki {
    width: 96%;
  }
  .tabiat .bani  {
    width: 96%;
  }
  .basedki2 {
    width: 96%;
    margin-top: -60px;
  }
  .tabiat .bani2  {
    width: 96%;
  }
}

@media (max-width: 600px) {
  .zvonok {
    display: none;
  }
  .tel5 {
    display: block;
    display: flex;
    gap: 30px;
    justify-content: center;
    color: chocolate;
  }
  .buttonn5 {
    color: chocolate;
  }
  .buttonn {
    color: chocolate;
  }
  .navbar9 {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }
}
/*# sourceMappingURL=style.css.map */