* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    .end {
        text-align: end;
    }
    .font {
        display: flex;
        gap: 20px;
        margin-top: 20px;
    }
}
.tel-raqam {
    color: blue;
}
.button {
    all: unset;
    padding: 10px 55px;
    border-radius: 7px;
    background-color: lightblue;
}
.buttonn {
    text-decoration: none;
    color: blue;
}
.youtube, .instagram {
    color: red;
}
.telegram {
    color: blue;
}
.whatsapp {
    color: green;
}
.mobile {
    color: rgb(8, 37, 37);
}
.kok {
    color: blue;
}
.СТРОИТЕЛЬНАЯ {
    font-size: 14px;
    margin-bottom: 2 px;
}



ul{
    list-style: none;
}

a{
    text-decoration: none;
}


header{
    width: 100%;
    padding: 30px 80px;
    background-color: #15193D;
    display: flex;
    justify-content: space-between;
}
.header2{
    width: 100%;
    padding: 30px 80px;
    background-color:#8C93D1;
    display: flex;
    justify-content: space-between;
}

header ul{
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
}

#check{
    display: none;
}

.close-menu{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.474);
    z-index: -1;
}


.open{
    display: none;
    cursor:pointer;
    color: #fff;
}
.close-btn{
    display: none;
    cursor: pointer;
}
.close-btn{
    color: white;
    font-size: 20px;
}

header ul li a{
    font-size: 20px ;
    color: #fff;
}

ul {
    width: 93%;
    margin: auto;
}
.chap {
    .chap1 {
        width: 90%;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .chap2 {
        width: 90%;
        margin: auto;
        font-size: 40px;
        font-family: sans-serif;
    }
    .chap3 {
        width: 90%;
        margin: auto;
        font-family: sans-serif;
        margin-top: 20px;
    }
}

.tabiat {
    .tabiat1 {
        text-align: center;
        background-image: url(./img/Rectangle\ 29.png);
        width: 90%;
        height: 500px;
        .h1 {
            color: blue;
        }
        .bani h1 {
            background-image: url(./img/Rectangle\ 43.png);
        }
    }
}

@media(max-width:1120px){
    .open{
        display: block;
    }
    header ul{
        position: fixed;
        top: 0;
        right: -100vw;
        bottom: 0;
        width: 60vw;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        background-color: #000;
        transition: 1s ease-in-out;
    }
    #check:checked ~ ul{
        right: 0;
        // color: #fff;
    }
    #check:checked ~ .open{
        display: none;
        // color: #fff;
    }
    #check:checked ~ .close-btn{
        display: block;
        // color: #fff;
    }
}

@media(max-width:1100px) {
    .end {
        display: none;
    }
    .tel {
        display: none;
    }
    .header2 {
        display: none;
    }
}

@media(max-width:600px) {
    .zvonok {
        display: none;
    }
}